img {
  height: 500px;
  width: 100%;
}


.slider {
  overflow: hidden;
  height: 500px;
  width: 100%;
  max-width: 1282px;
  margin: auto;
  position: relative;
}

.slider .slideSet {
  /* width: 7000px; */
  position: absolute;
}

.slider .slide {
  height: 500px;
  border: 1px solid #f00;
  float: left;
  overflow: hidden;
}

.slider-next {
  z-index: 1;
  position: relative;
  top: 70px;
}
