/*global*/
* {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  color: #fff;
}

.wrapper {
  width: 96%;
  margin: auto;
}

.squareBtn {
  border-radius: 5px;
  padding: 10px;
}

.bgBlue.squareBtn {
  background-color: #75A9FF	;
}

.bgWhite.squareBtn {
  background-color: #fff;
}

.txtWhite {
  color: #fff;
}

.txtBrown {
  color: #D2B48C;
}

.largeTxt {
  font-size: 50px;
}

.mediumTxt {
  font-size: 34px;
}

.smallTxt {
  font-size: 29px;
}

body {
  color: #333;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: #FAF0E6	;
}

.none {
  display: none;
}

/*header*/
header {
  background-color: #D2B48C;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header .wrapper {
  height: 80px;
  display: flex;
  justify-content: flex-end;

}

header ul {
  display: flex;
  align-items: center;
  font-weight: bold;
}

header ul li+li {
  margin-left: 30px;
}

header .menu {
  display: none;
}

header .mypage {
  display: none;
}

header .menuList {
  display: none;
}

/*1000px以下で適用*/
@media (max-width: 1000px) {

  header .wrapper {
    justify-content: space-between;
    width: 98%;
    margin-left: 0;
  }

  header ul {
    display: none;
  }

  header .menu {
    display: block;
    width: 80px;
    background-color: #333;
  }

  header .menu > .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    color: #fff;
  }

  /* ハンバーガーメニュー内リスト */
  header .menuList {
    display: block;
    width: 375px;
    z-index: 9999;
    position: absolute;
    background-color: #333;
    left: -375px;
  }

  header .menuHeading > .fas {
    margin-left: 20px;
  }

  header .menuList ul {
    display: block;
  }

  header .menuList li {
    padding: 15px 0;
    margin: 0;
    text-align: center;
    border: solid 1px #C0C0C0;
  }

  header .menuList p {
    padding: 15px;
    font-weight: bold;
  }

  header .menuList p,
  header .menuList span,
  header .menuList li a {
    font-size: 24px;
    color: #fff;
  }

  header .mypage {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

}


/*heroイメージ*/
.hero {
  background-image: url(../img/audience.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hero .wrapper {
  height: auto;
  color: #fff;
  text-align: center;
  padding: 50px 0 50px;
}

.hero .squareBtn {
  max-width: 450px;
  margin: 20px auto;
  padding: 17px 0;
}

/*768px以下で適用*/
@media (max-width: 768px) {

  .hero .wrapper .largeTxt {
    font-size: 40px;
  }
  
  .hero .wrapper .mediumTxt {
    font-size: 30px;
  }

}

/*425px以下で適用*/
@media (max-width: 425px) {

  .hero .wrapper .largeTxt {
    font-size: 34px;
  }
  
  .hero .wrapper .mediumTxt {
    font-size: 26px;
  }

}

/*main*/
main.wrapper {
  padding: 50px 0;
  max-width: 1100px;
  margin: auto;
}

.tabNav ul{
  display: flex;
  margin: auto;
}

.tabNav li {
  border-radius: 5px 5px 0 0;
  width: 400px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  border: solid 1px #CD5C5C	;
}

.tabNav li a {
  color: #CD5C5C;
  display: block;
}

.tabNav li + li {
  margin-left: 4px;
}

.tabNav li a:hover,
.tabNav li:hover,
.tabNav li a.active,
.tabNav li.active {
  color: #fff;
  background-color: #CD5C5C	;
}

.tabs {
  background-color: #fff;
  position: relative;
  margin-top: -1px;
  border-top: solid 5px #CD5C5C	;
}

.tab.active {
  z-index: 9999;
}

main .tab+.tab{
  display: none;
}

main .tab .joinTab a{
  color: #D2B48C;
}

main .genreNavSP {
  display: none;
}

main .calendarSP {
  display: none;
}

/* タブ内タブ */
main .genreNav ul {
  width: 96%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  border-bottom: solid 2px #eee;
}

main .genreNav ul>li {
  border-bottom: none;
  width: 150px;
  text-align: center;
}

main .genreNav ul>li.active {
  border-bottom: solid 5px #D2B48C;
}

main .genreTabs {
  width: 100%;
  height: auto;
}

main .recruitingWrap {
  width: 100%;
}

.genreTab .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

main .genreTab+.genreTab {
  display: none;
}

.genreTab .recruiting {
  height: 80px;
  color: #333;
  background-color: #eee;
  padding: 10px;
}

.genreTab .recruiting+.recruiting {
  margin-top: 10px;
}

.genreTab .station {
  height: 25px;
  width: 80px;
  background-color: #fff;
  color: #75A9FF;
  border: solid 2px #75A9FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genreTab .date {
  font-size: 20px;
  color: #333;
}

.genreTab .station_date {
  display: flex;
  justify-content: space-between;
}

.genreTab .conditions {
  margin-top: 10px;
  display: flex;
}

.genreTab .role {
  font-size: 20px;
}

.genreTab .age {
  font-size: 20px;
  margin-left: 5px;
}

main .calendar {
  width: 370px;
  height: 400px;
  background-color: #D2B48C;
  margin-left: 20px;
  padding: 20px 10px;
}

main .calendar .calendarTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main .calendar .calendarTop span:first-child {
  font-weight: bold;
  font-size: 20px;
}

main .calendar .date {
  background-color: #fff;
  height: 280px;
  margin-top: 20px;
  padding: 20px 0;
}

.calendar-title {
  text-align: center;
}

.calendar-table {
  margin: 20px auto;
}

.is-today {
  color: red;
}

caption, th{
  text-align: center;
}

td {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}


@media(max-width: 767px) {

  .joinTab>.genreNav {
    display: none;
  }

  .joinTab .calendar {
    display: none;
  }

  main .genreNavSP {
    display: block;
    border: solid 2px #D2B48C;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
  }

  .genreNavSP p {
    color: #D2B48C;
    font-size: 26px;
    text-align: center;
    padding: 15px 0;
  }

  main .genreNavSP ul {
    width: 60%;
    margin: auto;
  }

  main .genreNavSP li {
    text-align: center;
    border-bottom: solid 1px #D2B48C;
    padding: 20px 0;
  }

  main .genreNavSP a {
    font-size: 24px;
    display: block;
  }

  main .calendarSP{
    display: block;
    border: solid 2px #D2B48C;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
  }

  main .calendarSP .calendarTop{
    color: #D2B48C;
    font-size: 26px;
    text-align: center;
    padding: 15px 0;
  }

  main .calendarSP .calendarTop .fas{
    margin-left: 10px;
  }

  .tabNav li {
    height: 80px;
    line-height: 80px;
  }

}

main .genreTabs .genreTab .music {
  height: 1000px;
}
main #tab2 {
  height: 1000px;
}

