.sticky-header {
  width: 100%;
  text-align: center;
  height: 204px;
  background-color: #fff;
}

.sticky-header-clone {
  position: fixed;
  top: -204px;
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
  background-color: #333;
  width: 100%;
  text-align: center;
  height: 204px;
}

.sticky-header-clone.visible {
  top: 0;
}

.titleImg {
  width: 100%;
}

.container {

  height: 2000px;
  background-color: burlywood;
}