@charset "UTF-8";

/*==========global==========*/
* {
  box-sizing: border-box;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  color: #333;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.inner {
  width: 96%;
  max-width: 980px;
  margin: auto;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 37px;
  line-height: 60px;
}

.contentsWrap {
  margin-top: 40px;
}

.section {
  padding: 60px 0 70px;
}

.backgroundImg {
  background-size: cover;
  background-position: center;
  }

.contents {
  display: flex;
}

.contents .content {
  width: 310px;
}

.contents .content + .content {
  margin-left: 25px;
}

.btn {
  background-color: #ffa800;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  margin: auto;
}

.pcNone {
  display: none;
}

.toggle {
  display: none;
}

/*=====767px以下で切り替え=====*/
@media (max-width: 767px) {

  .contents .content {
    width: 100%;
  }

  .contents {
    flex-direction: column;
  }

  .contents .content + .content {
    margin: 40px 0 0;
  }

}

/*==========header==========*/
header {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header .inner {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 60px;
}

header h1 > a {
  width: 100px;
  display: flex;
}

header ul {
  display: flex;
  align-items: center;
}

header ul > li + li {
  margin-left: 20px;
}

header .btn {
  width: 132px;
  height: 30px;
}

/*=====1024以下で切り替え=====*/
@media (max-width: 1024px) {

  header .toggle {
    display: block;
  }
  
  header nav {
    display: none;
  }

}

/*==========firstView==========*/
.firstView {
  background-image: url(../img/first-view.jpg);
  height: 600px;
  padding-top: 60px;
}

.firstView .inner {
  max-width: 662px;
}

.firstView ul {
  border-top: 1px solid #ffffff;
  padding-top: 40px;
  max-width: 500px;
  margin: 40px auto 0;
}

.firstView ul > li {
  color: #ffffff;
  text-align: center;
}

.firstView p {
  margin-top: 40px;
}

.firstView .lead {
  color: #ffffff;
  text-align: center;
}

.firstView .btn {
  width: 252px;
  height: 35px;
}

/*=====425px以下で切り替え=====*/
@media (max-width: 425px) {

  .firstView ul {
    margin-top: 20px;
    padding-top: 20px;
  }

  .firstView .pcNone {
    display: block;
  }

}

/*=====section1=====*/
.section1 {
  background-color: #f2faff;
}

.section1 .content .image {
  width: 198px;
  margin: auto;

}

.section1 .content h3{
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  line-height: 1;
}

.section1 .content .text {
  margin-top: 30px;
}

/*=====section2=====*/
.section2 {
background-image: url(../img/section2-bg.jpg);
color: #ffffff;
}

.section2 .inner {
  max-width: 600px;
}

/*=====425px以下で切り替え=====*/
@media (max-width: 425px) {

  .section2 .spNone {
  display: none;
  }

}

/*=====section3=====*/
.section3 .head {
  text-align: center;
  font-size: 28px;
  position: relative;
  line-height: 28px;
}

.section3 .head span {
  position: relative;
  display: inline-block;
  background-color: #fff;
  width: 272px;
  line-height: 1;
}

.section3 .head:before {
  position: absolute;
  content: "";
  top: 50%;
  display: block;
  border-top: 1px solid #eee;
  width: 100%;
}

.section3 .contents {
  margin-top: 40px;
}

.section3 .items + .items {
  margin-top: 100px;
}

.section3 .items.language .image {
  width: 142px;
  margin: auto;
}

.section3 .catch{
  font-size: 23px;
  text-align: center;
  margin-top: 20px;
  line-height: 1.2;
}

.section3 .text{
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  line-height: 1.5;
}

/*=====767px以下で切り替え=====*/
@media (max-width: 767px) {

  .section3 .items.recommend .image {
    width: 60%;
    margin: auto;
  }

}

/*=====425px以下で切り替え=====*/
@media (max-width: 425px) {

  .section3 .pcNone {
    display: block;
  }

}

/*=====section4=====*/
.section4 {
  background-image: url(../img/section4-bg.jpg);
}

.section4 .cards {
  display: flex;
}

.section4 .adultsAndStudents,
.section4 .intensiveLearning {
  width: 480px;
}

.section4 .cards > .adultsAndStudents + .intensiveLearning {
  margin-left: 20px;
}

.section4 .cardImg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: calc(255 / 480 * 100%);
  position: relative;
  color: #ffffff;
}

.section4 .adultsAndStudents .cardImg{
  background-image: url(../img/section4-1.png);
}

.section4 .intensiveLearning .cardImg{
  background-image: url(../img/section4-2.png);
}

.section4 .courseWrap {
  padding: 20px;
  position: absolute;
  top: 0;
}

.section4 .courseName {
  display: inline-block;
  background-color: #ffa800;
  padding: 5px;
  font-size: 24px;
  line-height: 1;
}


.section4 .courseInfo {
  margin-top: 10px;
}

.section4 .courseInfo p {
  height: 42px;
  line-height: 1;
}

.section4 .courseInfo .price {
  color: #ffa800;
  font-size: 24px;
  margin-top: 2px;
  line-height: 1;
}

.section4 .summaryWrap {
  color: #333;
  background-color: #ffffff;
  padding: 20px 15px;
}

.section4 .conditions {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgb(233, 233, 233);
  font-weight: bold;
  height: auto;
}

.section4 .summaryWrap .summary {
  height: 150px;
}

.section4 .summaryWrap .conditions ul {
  margin-top: 20px;
  list-style-type: disc;
  font-weight: normal;
  margin-left: 1.5em;
}

/*=====768px以上1024px以下で切り替え=====*/
@media (max-width: 1025px) and (min-width: 768px) {

  .section4 .summaryWrap .summary {
    height: 200px;
  }

}

@media (max-width: 767px) {

  .section4 {
    background-size: 300% auto;
  }

  .section4 .cards {
    flex-direction: column;
  }

  .section4 .adultsAndStudents,
  .section4 .intensiveLearning {
    width: 100%;
  }

  .section4 .cards > .adultsAndStudents + .intensiveLearning {
    margin: 40px 0 0;
  }

  .section4 .courseWrap {
    width: 100%;
  }

  .section4 .summaryWrap {
    padding-bottom: 20px;
  }

  .section4 .summaryWrap .summary {
    height: auto;
  }

}

/*=====425px以下で切り替え=====*/
@media (max-width: 425px) {

  .section4 .summaryWrap .summary {
    height: auto;
  }

}

/*=====375px以下で切り替え=====*/
@media (max-width: 375px) {

  .section4 .courseInfo .price {
    font-size: 18px;
  }

}



/*=====section5=====*/

.section5 {
  height:503px;
  height: auto;
  letter-spacing: normal;

}

.section5 .contentsWrap {
  display: flex;
}

.section5 .introduce {
  width: 100%;
  max-width: 696px;

}

.section5 .name {
  display: flex;
  align-items: center;

  height: 23px;

}

.section5 .name h2 {
  height: 23px;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  line-height: 1;


}

.section5 .name p {
  margin-left: 21px;
  height: 23px;
}


.section5 .text {
  margin-top: 13px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.section5 .namiokaPc {
  width: 250px;
  height: 250px;
  margin-left: 34px;
}

/*=====767px以下で切り替え=====*/
@media (max-width: 767px) {



  .section5 .namiokaPc {
    display: none;
  }

}


/*=====section6=====*/
.section6 {
  background-color: #eeeeee;
}

.section6 .questionWrap {
  background-color: #fff;
  padding: 20px 20px 60px 20px;
  max-width: 980px;
  width: 100%;
  margin: 40px auto 0;
}

.section6 .question + .question {
  margin-top: 86px;
}

.section6 .question p:nth-child(1){
  font-weight: bold;
}

.section6 .question p + p{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(233, 233, 233);
}

.txtBlue {
  color: #0000FF;
}

.txtRed {
  color: #FF0000;
}



/*=====section7=====*/
.section7 form {
  max-width: 600px;
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  border:none;
}

.section7 form .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  height: 56px;
  width: 100%;

}

.section7 form .preferredDate {
  height: 112px;
  flex-direction: column;
}

.section7 form .check {
  justify-content: flex-start;
}

.section7 form .date {
  max-width: 600px;
  width: 100%;

  height: 56px;
  display: flex;
  justify-content: space-between;
}

.section7 form .date + .date {
  display: flex;
  justify-content: flex-end;
}

.section7 form .date + .date input {
  border-top: 1px solid #eee;

}

.section7 .required {
  width: 34px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffa800;
  color: #fff;
  opacity: 0.4;
  padding: 3px;
  line-height: 1;
  margin-left: 10px;
}

.type {
  display: flex;
  align-items: center;
}

.form:not(:last-child) input {
  width: 415px;
  border: none;
}

.section7 .form:last-child p {
  margin-left: 10px;
}

.btnWrap {
  max-width: 371px;
  width: 100%;

  height: 182px;
  margin: 20px auto 0;
}

.btnWrap .btn {
  height: 54px;
  background-color: #cccccc;
}

.btnWrap .line .btn {
  height: 54px;
  background-color: #2cbf13;
}

.btnWrap p + p {
  margin-top: 50px;
  text-align: center;
}

.btnWrap .line span {
  height: 26px;
  width: 264px;
}

/*=====767px以下で切り替え=====*/
@media (max-width: 767px) {

  .section7 form .form {
    flex-direction: column;
  }

  .section7 form .form .type{
    display: flex;
    justify-content: left;
  }

}